Django>=3.0,<4.0
mysqlclient
social-auth-app-django
asgiref               
certifi               
cffi                   
charset-normalizer     
cryptography          
defusedxml           
Django             
idna                   
mysqlclient         
oauthlib             
pip                 
psycopg2-binary       
pycparser              
PyJWT         
python3-openid  
requests         
requests-oauthlib      
setuptools            
social-auth-app-django 
social-auth-core    
sqlparse            
typing_extensions    
tzdata               
urllib3            