Django>=3.0,<4.0
mysqlclient
requests
python-decouple
# ansible
channels
celery
redis
# ansible-core
ansible-runner
asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
idna
oauthlib
pip
psycopg2-binary
pycparser
PyJWT
python3-openid
requests-oauthlib
setuptools
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
tzdata
urllib3

proxmoxer
influxdb_client
django-celery-beat

sendgrid
oauth2client 
httplib2
google-api-python-client==1.7.2
google-auth==1.8.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1