Django>=3.0,<4.0
mysqlclient
requests
python-decouple
# ansible
channels
celery
redis
# ansible-core
ansible-runner
asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
idna
oauthlib
pip
psycopg2-binary
pycparser
PyJWT
python3-openid
requests-oauthlib
setuptools
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
tzdata
urllib3

proxmoxer
influxdb_client
django-celery-beat

sendgrid