@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&family=Ubuntu&display=swap');

html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo 2', sans-serif;
  font-weight:600;
}


.row-padding {
  padding: 2px;
}

.content-card {
  padding:1.5rem;
  width:98%;
  background-color: #9b9494;
  border-radius:10px;
  /* margin-top: 2rem; */
}

.form-control {
  height: 2.3rem;
  width: 18rem;
}

#VMtable_length, #VMtable_filter, #VMtable_info,
#vmInfoTable_length, #vmInfoTable_filter, #vmInfoTable_info {
  font-size: 1.1vw
}

th {
  font-size:1.2vw;
  font-weight:bold; 
  text-align:left;
}

td {
  font-size:1.2vw;
}

.vminfo-main {
  width:97%;
  padding: 3px;
  border:#C1C1C1 solid 1px;
  border-top: #FFFFFF solid 1px;
}

.vminfo-sub {
  padding-right: 0px;
  padding-left: 5px;
}

#vminfo-div {
  min-height:91vh;
  overflow: scroll;
  height: 100%;
  width:100%;
  padding:2rem 2rem 0rem 2rem;
  /* margin-top: 2rem; */
}


.filter-btn {
  background-color: #D96A00;
  color:#F7F8FA;
  font-size:1.2vw;
  /* font-weight: bold; */
  padding: 5px 10px;
  border-radius: 4px;
  border: none
}