<form action="{% url 'guacamole:create_user' %}" method="post">
    {% csrf_token %}

    <h1>Create User</h1>

    <label for="username">Username: </label>
    <input type="text" name="username" id="username" /><br /><br />
    <label for="password">Password: </label>
    <input type="text" name="password" id="password" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'guacamole:delete_user' %}" method="post">
    {% csrf_token %}

    <h1>Delete User</h1>

    <label for="username">Username: </label>
    <input type="text" name="username" id="username" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'guacamole:create_connection' %}" method="post">
    {% csrf_token %}

    <h1>Create Connection</h1>

    <label for="name">Connection Name: </label>
    <input type="text" name="name" id="name" /><br /><br />
    <label for="hostname">Hostname / IP Add: </label>
    <input type="text" name="hostname" id="hostname" /><br /><br />
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" /><br /><br />
    <label for="password">Password: </label>
    <input type="text" name="password" id="password" /><br /><br />

    <select id="protocol" name="protocol">
        <option value="vnc">VNC</option>
        <option value="rdp">RDP</option>
        <option value="ssh">SSH</option>
    </select>

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'guacamole:delete_connection' %}" method="post">
    
    {% csrf_token %}

    <h1>Delete Connection</h1>

    <label for="connection_id">Connection ID: </label>
    <input type="text" name="connection_id" id="connection_id" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'guacamole:assign_connection' %}" method="post">
    
    {% csrf_token %}

    <h1>Assign Connection</h1>

    <label for="username">Username: </label>
    <input type="text" name="username" id="username" /><br /><br />
    <label for="connection_id">Connection ID: </label>
    <input type="text" name="connection_id" id="connection_id" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'guacamole:revoke_connection' %}" method="post">
    
    {% csrf_token %}

    <h1>Revoke Connection</h1>

    <label for="username">Username: </label>
    <input type="text" name="username" id="username" /><br /><br />
    <label for="connection_id">Connection ID: </label>
    <input type="text" name="connection_id" id="connection_id" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'guacamole:update_connection' %}" method="post">
    
    {% csrf_token %}

    <h1>Edit Connection</h1>

    <label for="connection_id">Connection ID: </label>
    <input type="text" name="connection_id" id="connection_id" /><br /><br />

    <label for="hostname">Hostname: </label>
    <input type="text" name="hostname" id="hostname" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'guacamole:get_connection_details' %}" method="post">
    
    {% csrf_token %}

    <h1>Get Connection Details</h1>

    <label for="connection_id">Connection ID: </label>
    <input type="text" name="connection_id" id="connection_id" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'guacamole:get_connection_parameter_details' %}" method="post">
    
    {% csrf_token %}

    <h1>Get Connection Parameter Details</h1>

    <label for="connection_id">Connection ID: </label>
    <input type="text" name="connection_id" id="connection_id" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'guacamole:create_connection_group' %}" method="post">
    {% csrf_token %}

    <h1>Create Connection Group</h1>

    <label for="name">Connection Group Name: </label>
    <input type="text" name="name" id="name" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'guacamole:assign_connection_group' %}" method="post">
    {% csrf_token %}

    <h1>Assign Connection Group</h1>

    <label for="name">Guacamole Username: </label>
    <input type="text" name="name" id="name" /><br /><br />
    <label for="name">Connection Group ID: </label>
    <input type="text" name="id" id="id" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'guacamole:revoke_connection_group' %}" method="post">
    {% csrf_token %}

    <h1>Revoke Connection Group</h1>

    <label for="name">Guacamole Username: </label>
    <input type="text" name="name" id="name" /><br /><br />
    <label for="name">Connection Group ID: </label>
    <input type="text" name="id" id="id" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'guacamole:delete_connection_group' %}" method="post">
    {% csrf_token %}

    <h1>Delete Connection Group</h1>
    
    <label for="name">Connection Group ID: </label>
    <input type="text" name="id" id="id" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />