{% extends 'users/base_tsg.html' %}

{% block title %}
Add users
{% endblock title %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'users/css/student_home.css' %}">
{% endblock css %} 

{% block content %}
    <div class="col-md-10 content">
        <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title text-center">Add users</h4>
                  <form method="POST" enctype="multipart/form-data" action="{% url 'users:add_users' %}">
                    {% csrf_token %}
                    {% if message %}
                    <p class = "mb-3"> {{ message }} <p>
                    {% endif %}
                    <div class="mb-3">
                      <label for="email" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="email" name = "email" placeholder="Enter email">
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name = "password" placeholder="Password">
                    </div>
                    <div class="mb-3">
                      <label for="user_profile" class="form-label">User profile</label>
                      <select id="user_profile" name="user_profile" class="form-select">
                        <option value="admin">Admin</option>
                        <option value="faculty">Faculty</option>
                        <option value="student">Student</option>
                      </select>
                    </div>
                    <hr class="mb-3 mt-3">
                    <div class="mb-3">
                        <label for="csv_file" class="form-label">Upload CSV File</label>
                        <input type="file" class="form-control" id="csv_file" name="csv_file" accept=".csv">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
{% endblock content %}
