{% extends 'users/base_faculty.html' %}

{% block title %}
VM Details {{ vm_id }}
{% endblock title %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'users/css/student_home.css' %}">
<link rel='stylesheet' href="{% static 'users/css/faculty_request_list.css' %}">
{% endblock css %} 

{% block content %}
<div class="col-md-10 main-content p-5">
    <h1>Request Tracker</h1>
    <div class="filter">
        <input type="text" class="form-control w-25" placeholder="Search">
        <button class="btn btn-light"><i class="bi bi-filter"></i> Filter by</button>
    </div>
    {% if request_entries %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Ticket ID</th>
                <th class="text-center">Category</th>
                <th class="text-center">Request Type</th>
                <th class="text-center">Date Requested</th>
                <th class="text-center">Status</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for request in request_entries  %}
            <tr>
                <td class="text-center">{{ request.id }}</td>
                <td class="text-center">Virtual Machine</td>
                <td class="text-center">{{ request.category }}</td>
                <td class="text-center">{{ request.requestDate}}</td>
                <td class="text-center"> {% if request.status == 'FOR_REVISION' %}FOR REVISION{% else %}{{ request.status}}{% endif %}</td>
                {% if request.status == 'PROCESSING' %}
                <td class="text-center"><div class = 'd-flex justify-content-evenly'>
                        <a class="btn btn-outline-primary" href="{% url 'users:faculty_edit_request' request_id=request.id %}" role="button">Edit</a> <a class="btn btn-outline-primary" href="{% url 'users:faculty_test_vm' request_id=request.id %}" role="button">Test</a>
                    </div></td>
                {% else %}
                <td class="text-center"><a class="btn btn-outline-primary" href="{% url 'users:faculty_edit_request' request_id=request.id %}" role="button">Edit</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h1>No request found</h1>
    {% endif %}
    </div>
</div>

{% endblock content %}
