{% extends 'users/base_tsg.html' %}

{% block title %}
User Management
{% endblock title %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'users/css/student_home.css' %}">
{% endblock css %}

{% block content %}
<div class="col-md-10 content">
    <!-- Add User Button -->
    <div class="d-flex justify-content-between mb-3">
        <h1>User management</h1>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_user_modal">
            Add User
        </button>
    </div>
    {% if messages %}
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
    {% endif %}
    <!-- Users Table -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>User</th>
                <th>Email</th>
                <th>User Type</th>
                <th>Reset Password</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.user_type }}</td>
                <td>
                  <div class = "d-flex justify-content-evenly">
                    <button class="btn btn-sm btn-secondary toggle-password" onclick="window.location.href='{% url "users:reset_password" user.id %}';">
                        Reset Password
                    </button>
                  </div>
                </td>
                <td>
                  <div class = "d-flex justify-content-evenly">
                    <a data-bs-toggle="modal" data-bs-target="#edit_user_modal" class="btn btn-sm btn-warning" id="edit_user_id_{{user.id}}" onclick="edit_user_id({{user.id}}, '{{user.user_type}}', '{{user.email}}')">Edit</a>
                    <a href="{% url 'users:delete_user' user.id %}" class="btn btn-sm btn-danger">Delete</a>
                  </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Add User Modal -->
    <div class="modal fade" id="add_user_modal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data" action="{% url 'users:add_users' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                        </div>
                        <div class="mb-3">
                            <label for="user_profile" class="form-label">User profile</label>
                            <select id="user_profile" name="user_profile" class="form-select">
                                <option value="TSG">TSG</option>
                                <option value="FACULTY">Faculty</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="csv_file" class="form-label">Upload CSV File (Add a header named "Email" on cell A1, then continue writing emails on A2, A3 and so forth)</label>
                            <input type="file" class="form-control" id="csv_file" name="csv_file" accept=".csv">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Edit User modal-->
    <div class="modal fade" id="edit_user_modal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="addUserModalLabel">Edit User</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form method="POST" enctype="multipart/form-data" action="{% url 'users:edit_user' %}">
                      {% csrf_token %}
                      <div class="mb-3">
                          <label for="email" class="form-label">Change Email address</label>
                          <input type="email" class="form-control" id="change_email" name="change_email" placeholder="Leave the input blank if there is no changes">
                      </div>
                      <div class="mb-3">
                          <label for="change_user_profile" class="form-label">Change User profile</label>
                          <select id="change_user_profile" name="change_user_profile" class="form-select">
                              <option value="admin">Admin</option>
                              <option value="faculty">Faculty</option>
                          </select>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                      <input type="hidden" value="" id="user_id" name="user_id">
                  </form>
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    function edit_user_id(user_id, user_type, user_email){
        document.getElementById('change_email').value = user_email
        document.getElementById('user_id').value = user_id;

        option_value = user_type.charAt(0).toLowerCase() + user_type.slice(1)
        document.getElementById('change_user_profile').value = option_value
    }
</script>
{% endblock script %}
