{% extends 'users/base_tsg.html' %}

{% block title %}
Add VM Template
{% endblock title %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'users/css/student_home.css' %}">
{% endblock css %} 

{% block content %}
    <div class="col-md-10 content">
        <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title text-center">VM Template</h4>
                  <form method="POST" enctype="multipart/form-data" action="{% url 'ticketing:add_vm_template' %}">
                    {% csrf_token %}
                    {% if message %}
                    <p class = "mb-3"> {{ message }} <p>
                    {% endif %}
                    <div class="mb-3">
                      <label for="vm_id" class="form-label">VM ID:</label>
                      <input type="text" class="form-control" id="vm_id" name = "vm_id" placeholder="Enter VM ID">
                    </div>
                    <div class="mb-3">
                      <label for="vm_id_name" class="form-label">VM ID Name:</label>
                      <input type="text" class="form-control" id="vm_id_name" name = "vm_id_name" placeholder="VM ID Name">
                    </div>
                    <div class="mb-3">
                      <label for="cores" class="form-label">Cores</label>
                      <select id="cores" name="cores" class="form-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="4">4</option>
                      </select>
                    </div>
                    <div class="mb-3">
                        <label for="ram" class="form-label">Ram</label>
                        <select id="ram" name="ram" class="form-select">
                          <option value="1024">1gb</option>
                          <option value="2048">2gb</option>
                          <option value="4096">4gb</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="storage" class="form-label">Storage</label>
                        <select id="storage" name="storage" class="form-select">
                          <option value="5">5gb</option>
                          <option value="10">10gb</option>
                          <option value="15">15gb</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="storage" class="form-label">Node</label>
                        <select id="node" name="node" class="form-select">
                          <option value="mayari">Mayari</option>
                          <option value="tala">Tala</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <div class="form-check">
                            <label class="form-check-label" for="is_lxc">
                                Container:
                              </label>
                            <input class="form-check-input" type="checkbox" value="" id="is_lxc" name = "is_lxc" required>
                          </div>
                      </div>
                      <div class="mb-3">
                        <label for="storage" class="form-label">Guacamole Protocol</label>
                        <select id="guacamole_protocol" name="guacamole_protocol" class="form-select">
                          <option value="rdp">rdp</option>
                          <option value="ssh">ssh</option>
                        </select>
                      </div>
                    <hr class="mb-3 mt-3">
                    <div class="mb-3">
                        <label for="csv_file" class="form-label">Upload CSV File</label>
                        <input type="file" class="form-control" id="csv_file" name="csv_file" accept=".csv">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
{% endblock content %}
