<form action="{% url 'proxmox:clone_vm' %}" method="post">
    {% csrf_token %}
    <h1>Clone VM</h1>
    <label for="vmid">Original VM ID: </label>
    <input type="text" name="vmid" id="vmid" /><br /><br />
    <label for="newid">New VM ID: </label>
    <input type="text" name="newid" id="newid" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'proxmox:start_vm' %}" method="post">
    {% csrf_token %}
    <h1>Start VM</h1>
    <label for="vmid">VM ID: </label>
    <input type="text" name="vmid" id="vmid" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'proxmox:shutdown_vm' %}" method="post">
    {% csrf_token %}
    <h1>Shutdown VM</h1>
    <label for="vmid">VM ID: </label>
    <input type="text" name="vmid" id="vmid" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'proxmox:delete_vm' %}" method="post">
    {% csrf_token %}
    <h1>Delete VM</h1>
    <label for="vmid">VM ID: </label>
    <input type="text" name="vmid" id="vmid" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'proxmox:stop_vm' %}" method="post">
    {% csrf_token %}
    <h1>Stop VM</h1>
    <label for="vmid">VM ID: </label>
    <input type="text" name="vmid" id="vmid" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'proxmox:status_vm' %}" method="post">
    {% csrf_token %}
    <h1>Status VM</h1>
    <label for="vmid">VM ID: </label>
    <input type="text" name="vmid" id="vmid" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'proxmox:ip_vm' %}" method="post">
    {% csrf_token %}
    <h1>VM IP Add</h1>
    <label for="vmid">VM ID: </label>
    <input type="text" name="vmid" id="vmid" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'proxmox:config_vm' %}" method="post">
    {% csrf_token %}
    <h1>Reconfigure VM</h1>
    <label for="vmid">VM ID: </label>
    <input type="text" name="vmid" id="vmid" /><br /><br />
    <label for="cpu">CPU Cores: </label>
    <input type="text" name="cpu" id="cpu" /><br /><br />
    <label for="memory">Memory in MB: </label>
    <input type="text" name="memory" id="memory" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'proxmox:clone_lxc' %}" method="post">
    {% csrf_token %}
    <h1>Clone LXC</h1>
    <label for="vmid">Original VM ID: </label>
    <input type="text" name="vmid" id="vmid" /><br /><br />
    <label for="newid">New VM ID: </label>
    <input type="text" name="newid" id="newid" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'proxmox:start_lxc' %}" method="post">
    {% csrf_token %}
    <h1>Start LXC</h1>
    <label for="vmid">VM ID: </label>
    <input type="text" name="vmid" id="vmid" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'proxmox:shutdown_lxc' %}" method="post">
    {% csrf_token %}
    <h1>Shutdown LXC</h1>
    <label for="vmid">VM ID: </label>
    <input type="text" name="vmid" id="vmid" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'proxmox:delete_lxc' %}" method="post">
    {% csrf_token %}
    <h1>Delete LXC</h1>
    <label for="vmid">VM ID: </label>
    <input type="text" name="vmid" id="vmid" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'proxmox:stop_lxc' %}" method="post">
    {% csrf_token %}
    <h1>Stop LXC</h1>
    <label for="vmid">VM ID: </label>
    <input type="text" name="vmid" id="vmid" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'proxmox:status_lxc' %}" method="post">
    {% csrf_token %}
    <h1>Status LXC</h1>
    <label for="vmid">VM ID: </label>
    <input type="text" name="vmid" id="vmid" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'proxmox:ip_lxc' %}" method="post">
    {% csrf_token %}
    <h1>LXC IP Add</h1>
    <label for="vmid">VM ID: </label>
    <input type="text" name="vmid" id="vmid" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'proxmox:config_lxc' %}" method="post">
    {% csrf_token %}
    <h1>Reconfigure LXC</h1>
    <label for="vmid">VM ID: </label>
    <input type="text" name="vmid" id="vmid" /><br /><br />
    <label for="cpu">CPU Cores: </label>
    <input type="text" name="cpu" id="cpu" /><br /><br />
    <label for="memory">Memory in MB: </label>
    <input type="text" name="memory" id="memory" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />