<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detail View</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1>Detail View for the request ticket</h1>
        {% comment %} <form action="{% url 'ticketing:request-confirm' %}" method="post"> {% endcomment %}
            {% csrf_token %}
            <p><strong>Requester ID:</strong> {{ object.requester_id }}</p>
            <p><strong>OS:</strong> {{ object.template_id.os_name }}</p>
            <p id = "cores" ><strong>Cores:</strong> {{ object.cores }}</p>
            <p id = "ram" ><strong>RAM:</strong> {{ object.ram }}</p>
            <p id = "storage" ><strong>Storage:</strong> {{ object.storage }}</p>
            <p><strong>Has Internet:</strong> {{ object.has_internet }}</p>
            <p id = "vm_count" ><strong>VM Count:</strong> {{ object.vm_count }}</p>
            <p><strong>Use case:</strong> {{ object.use_case }}</p>
            <p><strong>Other configs:</strong> {{ object.other_config }}</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#vmformsummary" id = "accept_button">
                Accept
              </button>
            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#revisionform" id = "revision_button">
                For Revision
            </button>
        {% comment %} </form> {% endcomment %}
    </div>

        {% comment %} Revision form {% endcomment %}
    <div class="modal fade" id="revisionform" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">What is missing or what should change?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action = "{% url 'ticketing:revise-request' object.id %}" method = "POST">
                    {% csrf_token %}
                    <h2>Comment: </h2>
                    <div class="input-group">
                        <textarea class="form-control" name = "comment"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                </div>
            </div>
        </div>
    </div>

        {% comment %} Acceptance form summary {% endcomment %}
        <div class="modal fade" id="vmformsummary" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">VM Form Summary</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>Requester ID:</strong> {{ object.requester_id }}</p>
                    <p><strong>OS:</strong> {{ object.template_id.os_name }}</p>
                    <p><strong>Cores:</strong> {{ object.cores }}</p>
                    <p><strong>RAM:</strong> {{ object.ram }}</p>
                    <p><strong>Storage:</strong> {{ object.storage }}</p>
                    <p><strong>Has Internet:</strong> {{ object.has_internet }}</p>
                    <p><strong>VM Count:</strong> {{ object.vm_count }}</p>
                    <p><strong>Use case:</strong> {{ object.use_case }}</p>
                    <p><strong>Other configs:</strong> {{ object.other_config }}</p>

                    <H1>Total system usage:</H1>
                    <p id = "totalCores" > </p>
                    <p id = "totalRam" > </p>
                    <p id = "totalStorage" > </p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="location.href='{% url 'ticketing:request-confirm' object.id%}'">Accept request</button>
                </div>
            </div>
            </div>
    </div>
    <script src="{% static 'ticketing/js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
