<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ticketing/css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <div class="logo">
                <img src="{% static 'ticketing/images/De_La_Salle_University_Seal.svg.png' %}" alt="Logo">
            </div>
            <div class="google-login">
                <a href="{% url 'social:begin' 'google-oauth2' %}">
                    <img src="{% static 'ticketing/images/google.png' %}" alt="Google Logo">
                    <span>Login with Google</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
