{% extends 'users/base_tsg.html' %}

{% block title %}
Request Details {{ request_entry.id }}
{% endblock title %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'users/css/student_home.css' %}">
{% endblock css %} 

{% block content %}
                    <div class="col-md-10 content mt-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <h1>Detail View for the Request Ticket</h1>
                            <div>
                                {% if request_entry.status == "PROCESSING" %}
                                <form id="start_vm_form" action="{% url 'guacamole:access_vm' %}" method="post" onsubmit="submitForm(event)" class="d-inline">
                                    {% csrf_token %}
                                    <input type="hidden" id="vm_id" name="vm_id" value="{{ request_entry.vm_id }}" />
                                    <button type="submit" class="btn btn-success me-1">Open Test VM</button>
                                </form>
                                <a href="{% url 'proxmox:shutdown_vm' request_entry.vm_id %}" class="d-inline">
                                    <button type="submit" class="btn btn-danger">Shutdown</button>
                                </a>
                                {% elif request_entry.status == "ONGOING" or request_entry.status == "COMPLETED" %}
                                    {% if not request_entry.expiration_date %}
                                    <a href="{% url 'ticketing:delete_request' request_entry.id %}" class="btn btn-danger">Delete</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                       
                        <div class="row g-3">
                            <div class="col-md-4">
                                <div class="p-3 bg-light border">
                                    <p><strong>Requester Name:</strong> {{ request_entry.requester.first_name }} {{ request_entry.requester.last_name }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 bg-light border">
                                    <p><strong>Template:</strong> {{ request_entry.template.vm_name }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 bg-light border">
                                    <p><strong>Status:</strong> {{ request_entry.status }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 bg-light border">
                                    <p id="cores"><strong>Cores:</strong> {{ request_entry.cores }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 bg-light border">
                                    <p id="ram"><strong>RAM:</strong> {{ request_entry.ram }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 bg-light border">
                                    <p id="storage"><strong>Storage:</strong> {{ request_entry.template.storage }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 bg-light border">
                                    <p><strong>Port Forwarding:</strong> {{ request_entry.has_internet }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 bg-light border">
                                    <p><strong>Date needed:</strong> {{ request_entry.date_needed }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 bg-light border">
                                    <p><strong>Expiration date:</strong> {{ request_entry.expiration_date }}</p>
                                </div>
                            </div>
                            {% if request_entry.use_case == 'Class Course' %}
                            {% for use_case in request_use_cases %}
                            <div class="col-md-8">
                                <div class="p-3 bg-light border">
                                    <p><strong>Use case:</strong> {{ use_case.request_use_case }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 bg-light border">
                                    <p id="vm_count{{ forloop.counter }}"><strong>VM Count:</strong> {{ use_case.vm_count }}</p>
                                </div>
                            </div>
                            {% endfor %}
                            
                            {% else %}
                            <div class="col-md-8">
                                <div class="p-3 bg-light border">
                                    <p><strong>Use case:</strong> {{ request_entry.use_case }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 bg-light border">
                                    <p id="vm_count1"><strong>VM Count:</strong> {{ request_use_cases.first.vm_count }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if request_entry.has_internet == 1 %}
                                {% for port in port_rules %}
                                <div class="col-md-8">
                                    <div class="p-3 bg-light border">
                                        <p><strong>Port:</strong> {{ port.protocol|upper }}</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="p-3 bg-light border">
                                        <p><strong>Destination Ports:</strong> {{ port.dest_ports }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}
                            {% if request_entry.status == "ONGOING" %}
                                {% for destination_port in destination_ports %}
                                    <div class="col-md-8">
                                        <div class="p-3 bg-light border">
                                            <p><strong>VM Name:</strong> {{ destination_port.vm.vm_name }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="p-3 bg-light border">
                                            <p><strong>Public Ports:</strong> {{ destination_port.dest_port }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for system_account in system_accounts %}
                                    <div class="col-md-8">
                                        <div class="p-3 bg-light border">
                                            <p><strong>System Username:</strong> {{ system_account.vm_name }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="p-3 bg-light border">
                                            <p><strong>System Password:</strong> {{ system_account.system_password }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="col-12">
                                <div class="p-3 bg-light border">
                                    <p><strong>Other configs:</strong> {{ request_entry.other_config }}</p>
                                </div>
                            </div>
                        </div>
                        {% if request_entry.status == "PENDING" or request_entry.status == "PROCESSING" or request_entry.status == "FOR REVISION" or request_entry.status == "ACCEPTED" or request_entry.status == "ONGOING"%}
                        <div class="row g-3 mt-3">
                            <div class="col">
                                {% if request_entry.status == "PENDING" or request_entry.status == "FOR REVISION" %}
                                <button type="submit" class="btn btn-primary w-25" data-bs-toggle="modal" data-bs-target="#vmformsummary" id="accept_button">Accept Request</button>
                                <a href="{% url 'ticketing:request-reject' request_entry.id %}"><button type="button" class="btn btn-danger w-25 ms-5" id="reject_button">Reject Request</button></a>
                                {% elif request_entry.status == "PROCESSING" and request_entry.is_vm_tested == False  %}
                                <a href="{% url 'ticketing:request_test_vm_ready' request_entry.id %}"><button type="submit" class="btn btn-primary w-25">Test VM is Ready</button></a>
                                {% elif request_entry.status == "ACCEPTED" and request_entry.is_vm_tested == True  %}
                                <a href="{% url 'ticketing:confirm_test_vm' request_entry.id %}"><button type="submit" class="btn btn-primary w-25">
                                    {% if no_vm != 1 %}
                                        Mass Clone the VMs 
                                    {% else %}
                                        Confirm Requested VM 
                                    {% endif %}
                                </button></a>
                                {% endif %}
                            </div>
                        </div>   
                        {% endif %}
                    
                        {% if comments %}
                        <!-- Comment Section -->
                        <div class="mt-5">
                            <h2>Comments</h2>
                            <!-- Display Comments -->
                                <div class="list-group">
                                    {% for comment in comments %}
                                        <div class="list-group-item">
                                            <p><strong>{{ comment.user.first_name }} {{ comment.user.last_name }}:</strong> {{ comment.comment }}</p>
                                            <small class="text-muted">{{ comment.date_time }}</small>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            
                            {% if request_entry.status != "COMPLETED" and request_entry.status != "REJECTED" and request_entry.status != "DELETED" %}
                            <!-- Add Comment Form -->
                            <form action="{% url 'ticketing:add_comment' request_entry.id %}" method="post" class="mt-3">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="comment" class="form-label">Add a Comment</label>
                                    <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit Comment</button>
                            </form>
                        </div>
                    {% endif %}
            </div>
        </div>
        {% if request_entry.status == "PENDING" or request_entry.status == "FOR REVISION" %}
        <!-- <form action="{% url 'ticketing:request-confirm' request_entry.id %}" method="post"> -->
            {% csrf_token %}
        <!-- Acceptance Form Summary -->
        <div class="modal fade" id="vmformsummary" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg"> <!-- Added modal-lg for wider modal -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">VM Form Summary</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <!-- First column for primary details -->
                            <div class="col-md-6">
                                <p><strong>Requester Name:</strong> {{ request_entry.requester.first_name }} {{ request_entry.requester.last_name }}</p>
                                <p><strong>Template:</strong> {{ request_entry.template.vm_name }}</p>
                                <p><strong>Cores:</strong> {{ request_entry.cores }}</p>
                                <p><strong>RAM:</strong> {{ request_entry.ram }} GB</p>
                                <p><strong>Storage:</strong> {{ request_entry.template.storage }} GB</p>
                                <p><strong>Port Forwarding:</strong> {{ request_entry.has_internet }}</p>
                            </div>
        
                            <!-- Second column for secondary details -->
                            <div class="col-md-6">
                                <p><strong>Date needed:</strong> {{ request_entry.date_needed }}</p>
                                <p><strong>Expiration date:</strong> {{ request_entry.expiration_date }}</p>
                                {% if request_entry.use_case == 'Class Course' %}
                                    {% for use_case in request_use_cases %}
                                        <p><strong>Use case:</strong> {{ use_case.request_use_case }}</p>
                                        <p><strong>VM Count:</strong> {{ use_case.vm_count }}</p>
                                    {% endfor %}
                                {% else %}
                                    <p><strong>Use case:</strong> {{ request_entry.use_case }}</p>
                                    <p><strong>VM Count:</strong> {{ request_use_cases.first.vm_count }}</p>
                                {% endif %}
                                <p><strong>Other configs:</strong> {{ request_entry.other_config }}</p>
                            </div>
                        </div>
        
                        <!-- Total system usage section -->
                        <h5 class="mt-4">Total system usage:</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <p><strong>Total Cores:</strong> {{ total_request_details.total_cores }}</p>
                            </div>
                            <div class="col-md-4">
                                <p><strong>Total RAM:</strong> {{ total_request_details.total_ram }} GB</p>
                            </div>
                            <div class="col-md-4">
                                <p><strong>Total Storage:</strong> {{ total_request_details.total_storage }} GB</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="{% url 'ticketing:request-confirm' request_entry.id %}">
                            <button type="button" class="btn btn-primary">Accept request</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- </form> -->
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'ticketing/js/detail-script.js' %}"></script>
<script src="{% static 'guacamole/js/launch-vm.js' %}"></script>
{% endblock  %}