{% extends 'users/base_tsg.html' %}

{% block title %}
VM template management
{% endblock title %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'users/css/student_home.css' %}">
{% endblock css %}

{% block content %}
<div class="col-md-10 content">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mb-0">VM Template Management</h1>
        <div class="d-flex">
            <button type="button" class="btn btn-primary me-4" data-bs-toggle="modal" data-bs-target="#add_vm_template_modal">
                Add single VM Template
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#upload_vm_template_modal">
                Upload CSV for Multiple VM Templates
            </button>
        </div>
    </div>
    {% if messages %}
            {% for message in messages %}
            {% if 'success' in message.tags %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% elif 'error' in message.tags %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
               {% endif %}
            {% endfor %}
    {% endif %}
    <!-- Users Table -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>VM id</th>
                <th>VM name</th>
                <th>Cores</th>
                <th>Ram</th>
                <th>Storage</th>
                <th>Node</th>
                <th>Container</th>
                <th>Active</th>
                <th>Protocol</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for vm_template in vm_templates %}
            <tr>
                <td>{{ vm_template.vm_id }}</td>
                <td>{{ vm_template.vm_name }}</td>
                <td>{{ vm_template.cores }}</td>
                <td>{{ vm_template.ram }}</td>
                <td>{{ vm_template.storage }}</td>
                <td>{{ vm_template.node }}</td>
                <td>{{ vm_template.container }}</td>
                <td>{{ vm_template.active }}</td>
                <td>{{ vm_template.protocol }}</td>
                <td>
                  <div class = "d-flex justify-content-evenly">
                    <a data-bs-toggle="modal" data-bs-target="#edit_vm_template_modal" class="btn btn-sm btn-warning" id="edit_vm_template_{{vm_template.id}}" onclick="edit_vm_template('{{vm_template.vm_id}}', '{{vm_template.vm_name}}', '{{vm_template.cores}}', '{{vm_template.ram}}', '{{vm_template.storage}}', '{{vm_template.container}}', '{{vm_template.active}}', '{{vm_template.protocol}}', '{{vm_template.node}}', '{{vm_template.id}}')">Edit</a>
                    <a href="{% url 'ticketing:deactivate_vm_template' vm_template.id %}" class="btn btn-sm btn-danger">Delete</a>
                  </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--Edit User modal-->
    <div class="modal fade" id="edit_vm_template_modal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">Edit User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data" action="{% url 'ticketing:edit_vm_template' %}">
                        {% csrf_token %}
                        {% for field in editForm %}
                          <div class="mb-3">
                                  {{ field.label_tag }}
                                  {{ field }}
                                  {% if field.help_text %}
                                      <small class="form-text text-muted">{{ field.help_text }}</small>
                                  {% endif %}
                              {% for error in field.errors %}
                                  <div class="invalid-feedback d-block">{{ error }}</div>
                              {% endfor %}
                          </div>
                         {% endfor %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <input type="hidden" value="" id="vm_template_id" name="vm_template_id">
                    </form>
                </div>
            </div>
        </div>
      </div>
    <!-- Add User Modal -->
    <div class="modal fade" id="add_vm_template_modal" tabindex="-1" aria-labelledby="addVMTemplateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addVMTemplateModalLabel">Add single VM template</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data" action="{% url 'ticketing:add_vm_template' %}">
                        {% csrf_token %}
                        
                        {% for field in form %}
                            <div class="mb-3">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% comment %} Upload CSV modal {% endcomment %}
    <div class="modal fade" id="upload_vm_template_modal" tabindex="-1" aria-labelledby="uploadVMTemplateModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadVMTemplateModal">Upload a csv for VM template</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data" action="{% url 'ticketing:add_vm_template' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="csv_file" class="form-label">Upload CSV File (Optional)</label>
                            <input type="file" class="form-control" id="csv_file" name="csv_file" accept=".csv">
                            <small class="form-text text-muted">Add a header on A1 and B2 named as ("VM ID", "Guacamole Protocol") that is needed for the VM template.</small>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}

{% block script %}
<script>
    function edit_vm_template(vm_id, vm_name, cores, ram, storage, container, active, protocol, node, id) {
        document.querySelector('[name="vm_name"]').value = vm_name;
        document.querySelector('[name="guacamole_protocol"]').value = protocol;

        document.getElementById('vm_template_id').value = id
        
    }
</script>
{% endblock script %}
