html,
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    height: 100%;
    margin: 0;
    padding: 0;
}

.custom-dropdown-menu {
    background-color: #f8f9fa;
    /* Change this to your desired background color */
}

.custom-dropdown-menu .dropdown-item {
    color: #343a40 !important
        /* Change this to your desired text color */
}

.custom-dropdown-menu .dropdown-item:hover,
.custom-dropdown-menu .dropdown-item:focus {
    background-color: #e9ecef;
    /* Change this to your desired hover background color */
    color: #212529;
    /* Change this to your desired hover text color */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #004d00;
    color: white;
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
}

.sidebar .logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.sidebar .nav-item a {
    color: white;
    text-decoration: none;
}

.sidebar .logout {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.content {
    margin-left: 16.66%;
    padding: 20px;
}

.table-container {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 8px;
}