{% extends "users/base_tsg.html" %}

{% block title %}
Monitoring
{% endblock title %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.11.3/sorting/natural.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.11.3/sorting/percent.js"></script>
<script src="https://unpkg.com/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/2.3.2/moment-duration-format.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/@sgratzl/chartjs-chart-boxplot@3.6.0/build/index.umd.min.js"></script>
<link rel="stylesheet" href="{% static 'users/css/student_home.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'monitoring/css/styles.css' %}">
{% endblock css %} 
{% block content %}
<div class="col-md-10 content">
    <div class="content-card">
        <div style="margin:0rem 0.5rem 1rem 0.5rem;">
            <h1 style="font-size:2vw;font-weight: 600;display:inline-block;">Dashboard</h1>                         
        </div>

    <div class="row row-padding justify-content-center" style="height:auto;margin:1rem 1rem 0rem 1rem;">

        <div id="serverCpuDiv" class="metrics col-md-2 justify-content-md-center align-items-md-center">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cpu" viewBox="0 0 16 16" style="display:inline-block;margin:0 0.5rem 0.3rem 0">
                    <path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
                </svg>
            
                <h4 style="font-size:1.1vw;display: inline;">CPU Usage</h4>
            </div>
            
                <div>
                <h1 id="usedSwap" style="font-size:2.5vw;font-weight: bold;"></h1>
                </div>
                <h4 id="totalSwap" style="font-size:1.1vw"></h4>
            </div>
            
            <div id="usedMemDiv" class="col-md-2 justify-content-md-center align-items-md-center metrics">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-memory" viewBox="0 0 16 16" style="margin:0 0.5rem 0.3rem 0">
                        <path d="M1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.586a1 1 0 0 0 .707-.293l.353-.353a.5.5 0 0 1 .708 0l.353.353a1 1 0 0 0 .707.293H15a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1Zm.5 1h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5Zm5 0h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5Zm4.5.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4ZM2 10v2H1v-2h1Zm2 0v2H3v-2h1Zm2 0v2H5v-2h1Zm3 0v2H8v-2h1Zm2 0v2h-1v-2h1Zm2 0v2h-1v-2h1Zm2 0v2h-1v-2h1Z"/>
                    </svg>
                    <h4 style="font-size:1.1vw;display: inline;">RAM Usage</h4>
                </div>
                
                <div>
                    <h1 id="usedMem" style="font-size:2.5vw;font-weight: bold;"></h1>
                </div>
                <h4 id="totalMem" style="font-size:1.1vw"></h4>
            </div>

            <div id="localMemDiv" class="col-md-2 justify-content-md-center align-items-md-center metrics">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hdd" viewBox="0 0 16 16" style="margin:0 0.5rem 0.3rem 0">
                        <path d="M4.5 11a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zM3 10.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                        <path d="M16 11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V9.51c0-.418.105-.83.305-1.197l2.472-4.531A1.5 1.5 0 0 1 4.094 3h7.812a1.5 1.5 0 0 1 1.317.782l2.472 4.53c.2.368.305.78.305 1.198V11zM3.655 4.26 1.592 8.043C1.724 8.014 1.86 8 2 8h12c.14 0 .276.014.408.042L12.345 4.26a.5.5 0 0 0-.439-.26H4.094a.5.5 0 0 0-.44.26zM1 10v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
                    </svg>
                    <h4 style="font-size:1.1vw;display: inline;">Storage</h4>
                </div>
                
                <div>
                    <h1 id="localMem" style="font-size:2.5vw;font-weight: bold;"></h1>
                </div>
                <h4 id="usedMem" style="font-size:1.1vw"></h4>
            </div>

            <div id="totalVmCountDiv" class="col-md-2 justify-content-md-center align-items-md-center metrics">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-display" viewBox="0 0 16 16" style="margin:0 0.5rem 0.3rem 0">
                        <path d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75c.167-.333.25-.833.25-1.5H2s-2 0-2-2V4zm1.398-.855a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145z"/>
                    </svg>
                    <h4 style="font-size:1.1vw;display: inline;">Active VMs</h4>
                </div>
                
                <div>
                    <h1 id="vmCount" style="font-size:2.5vw;font-weight: bold;"></h1>
                </div>
                <h4 id="totalVm" style="font-size: 1.1vw;"></h4>
            </div>

            <div id="totalLxcCountDiv" class="col-md-2 justify-content-md-center align-items-md-center metrics">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16" style="margin:0 0.5rem 0.3rem 0">
                        <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                    </svg>
                <h4 style="font-size: 1.1vw;display: inline;">Active LXC</h4>
                </div>
                
                <div>
                    <h1 id="lxcCount" style="font-size:2.5vw;font-weight: bold;"></h1>
                </div>
                <h4 id="totalLxc" style="font-size: 1.1vw;"></h4>
            </div>
        </div>
    </div>



















    
    <div class="content-card" style="margin-top: 2rem;">
        <div style="margin:1rem 0.5rem 1rem 0.5rem;">
            <h1 style="font-size:2vw;font-weight: 600;display:inline-block;">Virtual Machines</h1>
    
            <!-- <div class="dropdown d-inline-block dropdown-div" style="float: right;font-size: 1.3rem;margin: 0rem 0rem 1.5rem 0rem;">
                <button aria-expanded="false" class="btn dropdown-toggle dropdown-btn" data-bs-toggle="dropdown" type="button">Columns</button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item" href="#"><label><input class="toggle-vis" data-column="0" type="checkbox" style="margin-right: 0.5rem; font-size:1.1vw;" checked/>ID</label></li>
                    <li class="dropdown-item" href="#"><label><input class="toggle-vis" data-column="1" type="checkbox" style="margin-right: 0.5rem; font-size:1.1vw;" checked/>Name</label></li>
                    <li class="dropdown-item" href="#"><label><input class="toggle-vis" data-column="2" type="checkbox" style="margin-right: 0.5rem; font-size:1.1vw;" checked/>Type</label></li>
                    <li class="dropdown-item" href="#"><label><input class="toggle-vis" data-column="3" type="checkbox" style="margin-right: 0.5rem; font-size:1.1vw;" checked/>Node</label></li>
                    <li class="dropdown-item" href="#"><label><input class="toggle-vis" data-column="4" type="checkbox" style="margin-right: 0.5rem; font-size:1.1vw;" checked/>Disk Usage</label></li>
                    <li class="dropdown-item" href="#"><label><input class="toggle-vis" data-column="5" type="checkbox" style="margin-right: 0.5rem; font-size:1.1vw;" checked/>RAM Usage</label></li>
                    <li class="dropdown-item" href="#"><label><input class="toggle-vis" data-column="6" type="checkbox" style="margin-right: 0.5rem; font-size:1.1vw;" checked/>Max RAM</label></li>
                    <li class="dropdown-item" href="#"><label><input class="toggle-vis" data-column="7" type="checkbox" style="margin-right: 0.5rem; font-size:1.1vw;" checked/>CPU Usage</label></li>
                    <li class="dropdown-item" href="#"><label><input class="toggle-vis" data-column="8" type="checkbox" style="margin-right: 0.5rem; font-size:1.1vw;" checked/>Max CPU</label></li>
                    <li class="dropdown-item" href="#"><label><input class="toggle-vis" data-column="9" type="checkbox" style="margin-right: 0.5rem; font-size:1.1vw;" checked/>Uptime</label></li>
                </ul>
            </div>  -->
        </div>
            
        <hello></hello>
        <div style="overflow-y:scroll;height:auto;width:98%;margin:1rem;overflow-x:hidden">
            <table id="VMtable" class="table display responsive" style="width:100%; margin: 1rem auto;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Node</th>
                    <th>Disk Usage</th>
                    <th>RAM Usage</th>
                    <th>Max RAM</th>
                    <th>CPU Usage</th>
                    <th>Max CPU</th>
                    <th>Uptime</th>
                    <th>Net In</th>
                    <th>Net Out</th>
                </tr>
            </thead>
      
            <tbody id="vmstatus">
                
            </tbody>
        </table>
        </div>
      </div>
      
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'monitoring/js/monitoring.js' %}"></script>
{% endblock script %}

