<form action="{% url 'ticketing:vm_provision' %}" method="post">

    {% csrf_token %}

    <h1>VM Request</h1>

    <label for="template_vm_id">Choose VM Template: </label>
    <select id="template_vm_id" name="template_vm_id">
        <option value="4000">Ubuntu 24</option>
        <option value="3000">Ubuntu 22</option>
    </select><br /><br />

    <label for="class">Class Name: </label>
    <input type="text" name="class" id="class" /><br /><br />

    <label for="no_of_vm">Number of VM: </label>
    <input type="number" name="no_of_vm" id="no_of_vm" /><br /><br />

    <label for="cpu_cores">CPU Cores: </label>
    <input type="number" name="cpu_cores" id="cpu_cores" /><br /><br />

    <label for="ram">RAM: </label>
    <input type="number" name="ram" id="ram" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form id="vmForm" action="{% url 'ticketing:launch_vm' %}" method="post" onsubmit="submitForm(event)">

    {% csrf_token %}

    <h1>Launch VM</h1>

    <label for="vm_id">VM ID: </label>
    <input type="text" name="vm_id" id="vm_id" /><br /><br />
    <label for="username">Guacamole Username: </label>
    <input type="text" name="username" id="username" /><br /><br />
    <label for="connection_id">Guacamole Connection ID: </label>
    <input type="text" name="connection_id" id="connection_id" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'ticketing:lxc_provision' %}" method="post">

    {% csrf_token %}

    <h1>LXC Request</h1>

    <label for="template_vm_id">Choose LXC Template: </label>
    <select id="template_vm_id" name="template_vm_id">
        <option value="5000">Ubuntu 22</option>
    </select><br /><br />

    <label for="class">Class Name: </label>
    <input type="text" name="class" id="class" /><br /><br />

    <label for="no_of_vm">Number of VM: </label>
    <input type="number" name="no_of_vm" id="no_of_vm" /><br /><br />

    <label for="cpu_cores">CPU Cores: </label>
    <input type="number" name="cpu_cores" id="cpu_cores" /><br /><br />

    <label for="ram">RAM: </label>
    <input type="number" name="ram" id="ram" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'ticketing:launch_lxc' %}" method="post">

    {% csrf_token %}

    <h1>Start LXC</h1>

    <label for="vm_id">VM ID: </label>
    <input type="text" name="vm_id" id="vm_id" /><br /><br />

    <input type="submit" value="submit" />
</form>

<script>
    function submitForm(event) {
        event.preventDefault(); // Prevent default form submission

        var form = document.getElementById('vmForm');
        var formData = new FormData(form);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', form.action, true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                var redirectUrl = response.redirect_url;

                // Open the URL in a new tab
                window.open(redirectUrl, '_blank');
            } else {
                alert('An error occurred!');
            }
        };
        xhr.send(formData);
    }
</script>