<form action="{% url 'ticketing:vm_deletion' %}" method="post">
    {% csrf_token %}
    <h1>Delete VM Form</h1>

    {% for vm_id in data.vm_id %}
        <input type="text" name="vm_id" value="{{ vm_id }}" /><br /><br />
    {% endfor %}

    {% for guacamole_username in data.guacamole_username %}
        <input type="text" name="guacamole_username" value="{{ guacamole_username }}" /><br /><br />
    {% endfor %}

    {% for guacamole_connection_id in data.guacamole_connection_id %}
        <input type="text" name="guacamole_connection_id" value="{{ guacamole_connection_id }}" /><br /><br />
    {% endfor %}

    <input type="submit" value="submit" />
</form>